



html {
  font: normal 112.5%/1.65 ; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

.mega {
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}



.regular{font-weight: 400;}
.ls-small{letter-spacing: 2px;}
.ls-large{letter-spacing: 8px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-3{color: #60547c}

.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

section{
	height: 600px;
	padding: 3rem 0;
	position: relative;
}
.wrapper{
	margin: 0 auto;
	position: relative;
	z-index: 9;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}

section:nth-of-type(3n+1){
	background-size: cover;
}
section:nth-of-type(1){
	background-image: url(https://img.freepik.com/free-photo/abstract-luxury-soft-red-background-christmas-valentines-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-54520.jpg?size=626&ext=jpg);
}

/*                            Project-Header                                                 */
.project-head{
  text-align:center; 
}
.projects-header{
  padding: 10px;
  margin:80px;
  color:rgba(17, 8, 7,0.7);
  border-style: solid;
  display: inline-block;
  border-width:thick ;
  width: fit-content;
  border-radius:10%;
  border-color:rgb(56, 37, 35);
  background-color:rgb(163, 18, 18);
  font-size: 3rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}
.projects-header:hover{
  color:rgba(58, 26, 172,0.9);
  background-color:rgba(163, 18, 18,0.9);
  transform: scale(1.1);
}


/*                       G A L L E R Y                                                        */

.gallery{
  margin: 40px;
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  
}
.card {
  perspective: 100rem;
  position: relative;
  height: 400px;
  width: 400px;
  box-shadow: none;
  background: none;
  margin: 10px;
}

.card-side {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  border:40px;
  border-radius: 20%;
  order: 1;
}

.card-side.front {
  background-color: red;
  width: 400px;
  height: 400px;
}

.card-side.back {
  text-align: center;
  text-decoration: none;
  width: 400px;
  height: 400px;
  transform: rotateY(-180deg);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
}



.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  
  transform: rotateY(0deg);
}
  
.header{
  padding-top: 20%;
  font-size: 30px;
}
.text{
  font-size: 20px;
}


/*                           I T E M S                                                      */

.item {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}

.item{
  
  background-color: #222;
  background-image: 
    linear-gradient(to right, rgba(255,255,255,.025) 10%, transparent 0),
    linear-gradient(#222, #000);
  background-size: .75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.wrapper2 {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.item-img{
  z-index: 3;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
  

  

}
.item-img:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}
.item-img:hover{

  z-index: 4;
  transform: scale(2);
}



/*                          M E N U                                                           */
.dropbtn {
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  right:1%;
  top:1%;
  position: fixed;
  z-index: 20;
  }
.btn-grad {background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)}
.btn-grad {
   margin: 10px;
   padding: 5px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .grad2{
  background-image: linear-gradient(to right, #3383ff 2%, #afff33  51%, #16A085  100%);
}

 
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  
  display: none;
  position:fixed;
  right: 1.5%;
  top:7%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 22;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;
}














/*                          M E D I A                                                         */

@media all  and (max-width:500px) {
  .btn-grad{
    padding: 5px 5px;
    font-size: 15px;
  }
  .dropdown-content a{
    padding: 5px 5px;
    font-size: 13px;
  }
  
  .mega {
    font-size:3rem;
    }
  .projects-header{
    margin:30px;
    font-size: 2rem;
  }  
  .gallery{
    margin: 0;
  }
  .card{
    margin-left: 0;
  }
}
@media all  and (max-width:400px) {
  .header{
    font-size:20px;
  }
  .mega {
    font-size:2.5rem;
    }
  .card{
    margin-left: 0;
  }
  .card{
    margin-left: 0;
    width: 350px;
  }
  .card-side.back{
    width: 350px;
  }
  .card-side.front{
    width: 350px;
  }
  .text{
    font-size: 15px;
  }
}






